/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
div#wpadminbar {
    display: none;
}
ul#slide-out {
    z-index: 9999;
    box-shadow: 1px 0px 3px 0px #727272;
}
ul#slide-out form {
    display: flex;
}
ul#slide-out form button {
    background: transparent;
    padding: 0;
    margin: 0 15px;
}
ul#slide-out form button:focus {
    outline: 0 !important;
}
ul#slide-out form input {
   border-radius: 4px;
}
ul#slide-out form input[type="search"]:focus {
    border-color: #dd4747;
    border-radius: 4px !important;
    border: 1px solid !important;
    outline: 0 !important;
}
button.menu-toggle {
    display: none;
}

.cv-menu-header {
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 999;
}
.cv-menu-header p {
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
    color: #333;
}
.icons8-search {
    display: inline-block;
    width: 512px;
    height: 512px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIKdmlld0JveD0iMCAwIDE2IDE2IgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGlkPSJzdXJmYWNlMSI+PHBhdGggc3R5bGU9IiAiIGQ9Ik0gMTAuNSAxIEMgOC4wMTk1MzEgMSA2IDMuMDE5NTMxIDYgNS41IEMgNiA2LjU1ODU5NCA2LjM4MjgxMyA3LjUyMzQzOCA3IDguMjkyOTY5IEwgMi4wMjM0MzggMTMuMjY5NTMxIEwgMi43MjY1NjMgMTMuOTgwNDY5IEwgNy43MDcwMzEgOSBDIDguNDc2NTYzIDkuNjE3MTg4IDkuNDQxNDA2IDEwIDEwLjUgMTAgQyAxMi45ODA0NjkgMTAgMTUgNy45ODA0NjkgMTUgNS41IEMgMTUgMy4wMTk1MzEgMTIuOTgwNDY5IDEgMTAuNSAxIFogTSAxMC41IDIgQyAxMi40Mzc1IDIgMTQgMy41NjI1IDE0IDUuNSBDIDE0IDcuNDM3NSAxMi40Mzc1IDkgMTAuNSA5IEMgOC41NjI1IDkgNyA3LjQzNzUgNyA1LjUgQyA3IDMuNTYyNSA4LjU2MjUgMiAxMC41IDIgWiAiPjwvcGF0aD48L2c+PC9zdmc+') 50% 50% no-repeat;
    background-size: 100%; }
/*a.drwaer-nav-search-trigger.close .icon-search{*/
    /*background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNNy4wMDQgMjMuMDg3bDcuMDgtNy4wODEtNy4wNy03LjA3MUw4LjkyOSA3LjAybDcuMDY3IDcuMDY5TDIzLjA4NCA3bDEuOTEyIDEuOTEzLTcuMDg5IDcuMDkzIDcuMDc1IDcuMDc3LTEuOTEyIDEuOTEzLTcuMDc0LTcuMDczTDguOTE3IDI1eiIvPjwvc3ZnPg==');*/
    /*display: block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*background-size: cover;*/
    /*margin: 0 auto;*/
/*}*/
.cv-menu-header p img {
    margin: 0 auto;
    max-height: 35px;
}

.cv-menu-primary-navigation ul li {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.cv-menu-primary-navigation ul li {
    border-top: 1px solid #ececec;
}
.cv-menu-primary-navigation ul li a {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    transition: all .2s;
    position: relative;
    outline: 0;
    margin-right: 30px;
}
.cv-menu-primary-navigation ul li a:active, .cv-menu-primary-navigation ul li a:hover {
    background-color: rgba(0,0,0,.05);
}
/* First Level */
.cv-menu-primary-navigation ul li.menu-item-has-children {
    position: relative;
}
.cv-menu-primary-navigation ul li.menu-item-has-children span.sub-holder {
    position: absolute;
    width: 50px;
    height: 100%;
    right: 0;
    top: 0px;
}
.cv-menu-primary-navigation ul li.menu-item-has-children span.sub-holder:before {
    content: '';
    border: solid #666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 10px;
    position: absolute;
    top: 15px;
    width: 5px;
    height: 5px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.cv-menu-primary-navigation ul li.menu-item-has-children span.sub-holder.open:before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Second Level */
.cv-menu-primary-navigation ul li ul {display:none;}
.cv-menu-primary-navigation ul li ul li a {width:160px;}
.cv-menu-primary-navigation ul li:hover ul {display:block; top:26px;}

/* Third Level */
.cv-menu-primary-navigation ul li ul li ul li {list-style:inside square}
.cv-menu-primary-navigation ul li ul li ul li a {font-size:11px; color:#ddd}

.cv-menu-primary-navigation a:focus, .cv-menu-header a:focus {
    outline: 0 !important;
}

.drawer-nav-trigger.nav-icon {
    cursor: pointer;
    display: block;
    vertical-align: middle;
    width: 1em;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    padding: 5px;
    width: 100%;
}
.nav-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 1.25em;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.nav-icon:after, .nav-icon:before, .nav-icon span {
    display: block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    content: '';
    margin: 5px 0;
    height: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #000;
}
div#cv-menu-search-box {
    position: fixed;
    right: 0;
    width: 100%;
    top:0;
    height: 60px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transform: translateX(calc(100vw - 50px));
    padding-left: 60px;
}
div#cv-menu-search-box form{
    margin: 0;
    border-left: 1px solid #ececec;
}
div#cv-menu-search-box form input {
    display: inline-block;
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #000;
}
div#cv-menu-search-box form input:focus {
    outline: 0;
}
div#cv-menu-search-box form button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin-right: 3rem;
    margin-top: 13px;
    padding: 5px 11px;
    background: transparent;

}
a.drawer-nav-close .nav-icon:after, a.drawer-nav-close .nav-icon:before, a.drawer-nav-close .nav-icon span {
    background-color: #fff;
}
a.drawer-nav-close .nav-icon:before{
    transform: translateY(2px) rotate(135deg);
    -webkit-transform: translateY(2px) rotate(135deg);
    -moz-transform: translateY(2px) rotate(135deg);
}
a.drawer-nav-close .nav-icon:after{
    transform: translateY(-12px) rotate(-135deg);
    -moz-transform: translateY(-12px) rotate(-135deg);
    -webkit-transform: translateY(-12px) rotate(-135deg);
}
a.drawer-nav-close .nav-icon span {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
}
a.drawer-nav-trigger {
    position: absolute;
    display: block;
    top: 15px;
    z-index: 9999;
    padding: 0px 5px;
    outline: 0;
    line-height: 30px;
}
a.drwaer-nav-search-trigger {
    position: absolute;
    display: block;
    top: 15px;
    z-index: 9999;
    padding: 0px 5px;
    outline: 0;
    right: 15px;
}
a.drwaer-nav-search-trigger span {
    font-size: 1.75rem;
}

a.drawer-nav-trigger.open {
    display: none;
}
a.drawer-nav-close {
    position: fixed;
    display: block;
    top: 15px;
    z-index: 10068;
    margin: 15px;
    padding: 5px 10px;
    outline: 0;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;

}
a.drawer-nav-close:focus {
    outline: 0;
}
a.drawer-nav-trigger:focus {
    outline: 0;
}



ul:not(.browser-default){
    padding-left:0;
    list-style-type:none
}
ul:not(.browser-default)>li{
    list-style-type:none
}
@media only screen and (min-width: 993px){
    nav a.drawer-nav-trigger{
        display:none
    }
}
nav .drawer-nav-trigger{
    float:left;
    position:relative;
    z-index:1;
    height:56px;
    margin:0 18px
}
nav .drawer-nav-trigger i{
    height:56px;
    line-height:56px
}
.drawer-nav .collapsible,.drawer-nav.fixed .collapsible{
    border:none;
    -webkit-box-shadow:none;
    box-shadow:none
}
.drawer-nav .collapsible li,.drawer-nav.fixed .collapsible li{
    padding:0
}
.drawer-nav .collapsible-header,.drawer-nav.fixed .collapsible-header{
    background-color:transparent;
    border:none;
    line-height:inherit;
    height:inherit;
    padding:0 16px
}
.drawer-nav .collapsible-header:hover,.drawer-nav.fixed .collapsible-header:hover{
    background-color:rgba(0,0,0,0.05)
}
.drawer-nav .collapsible-header i,.drawer-nav.fixed .collapsible-header i{
    line-height:inherit
}
.drawer-nav .collapsible-body,.drawer-nav.fixed .collapsible-body{
    border:0;
    background-color:#fff
}
.drawer-nav .collapsible-body li a,.drawer-nav.fixed .collapsible-body li a{
    padding:0 23.5px 0 31px
}
.drawer-nav{
    position:fixed;
    width:300px;
    left:0;
    top:0;
    margin:0;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    height:100%;
    height:calc(100% + 60px);
    height:-moz-calc(100%);
    padding-bottom:60px;
    z-index:999;
    overflow-y:auto;
    will-change:transform;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:translateX(-105%);
    transform:translateX(-105%)
}
.drawer-nav.right-aligned{
    right:0;
    -webkit-transform:translateX(105%);
    transform:translateX(105%);
    left:auto;
    -webkit-transform:translateX(100%);
    transform:translateX(100%)
}
.drawer-nav .collapsible{
    margin:0
}
.drawer-nav li{
    float:none;
    line-height:48px
}
.drawer-nav li.active{
    background-color:rgba(0,0,0,0.05)
}
.drawer-nav li>a{
    color:rgba(0,0,0,0.87);
    display:block;
    font-size:14px;
    font-weight:500;
    height:48px;
    line-height:48px;
    padding:0 32px
}
.drawer-nav li>a:hover{
    background-color:rgba(0,0,0,0.05)
}
.drawer-nav li>a.btn,.drawer-nav li>a.btn-large,.drawer-nav li>a.btn-small,.drawer-nav li>a.btn-large,.drawer-nav li>a.btn-flat,.drawer-nav li>a.btn-floating{
    margin:10px 15px
}
.drawer-nav li>a.btn,.drawer-nav li>a.btn-large,.drawer-nav li>a.btn-small,.drawer-nav li>a.btn-large,.drawer-nav li>a.btn-floating{
    color:#fff
}
.drawer-nav li>a.btn-flat{
    color:#343434
}
.drawer-nav li>a.btn:hover,.drawer-nav li>a.btn-large:hover,.drawer-nav li>a.btn-small:hover,.drawer-nav li>a.btn-large:hover{
    background-color:#2bbbad
}
.drawer-nav li>a.btn-floating:hover{
    background-color:#26a69a
}
.drawer-nav li>a>i,.drawer-nav li>a>[class^="mdi-"],.drawer-nav li>a li>a>[class*="mdi-"],.drawer-nav li>a>i.material-icons{
    float:left;
    height:48px;
    line-height:48px;
    margin:0 32px 0 0;
    width:24px;
    color:rgba(0,0,0,0.54)
}
.drawer-nav .divider{
    margin:8px 0 0 0
}
.drawer-nav .subheader{
    cursor:initial;
    pointer-events:none;
    color:rgba(0,0,0,0.54);
    font-size:14px;
    font-weight:500;
    line-height:48px
}
.drawer-nav .subheader:hover{
    background-color:transparent
}
.drawer-nav .user-view{
    position:relative;
    padding:32px 32px 0;

    min-height: 70px;
}
.drawer-nav .user-view>a{
    height:auto;
    padding:0
}
.drawer-nav .user-view>a:hover{
    background-color:transparent
}
.drawer-nav .user-view .background{
    overflow:hidden;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1
}
.drawer-nav .user-view .circle,.drawer-nav .user-view .name,.drawer-nav .user-view .email{
    display:block
}
.drawer-nav .user-view .circle{
    height:64px;
    width:64px
}
.drawer-nav .user-view .name,.drawer-nav .user-view .email{
    font-size:14px;
    line-height:24px
}
.drawer-nav .user-view .name{
    margin-top:16px;
    font-weight:500
}
.drawer-nav .user-view .email{
    padding-bottom:16px;
    font-weight:400
}
.drag-target{
    height:100%;
    width:10px;
    position:fixed;
    top:0;
    z-index:998
}
.drag-target.right-aligned{
    right:0
}
.drawer-nav.drawer-nav-fixed{
    left:0;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    position:fixed
}
.drawer-nav.drawer-nav-fixed.right-aligned{
    right:0;
    left:auto
}
@media only screen and (max-width: 992px){
    .drawer-nav.drawer-nav-fixed{
        -webkit-transform:translateX(-105%);
        transform:translateX(-105%)
    }
    .drawer-nav.drawer-nav-fixed.right-aligned{
        -webkit-transform:translateX(105%);
        transform:translateX(105%)
    }
    .drawer-nav>a{
        padding:0 16px
    }
    .drawer-nav .user-view{
        padding:16px 16px 0
    }
}
.drawer-nav .collapsible-body>ul:not(.collapsible)>li.active,.drawer-nav.drawer-nav-fixed .collapsible-body>ul:not(.collapsible)>li.active{
    background-color:#ee6e73
}
.drawer-nav .collapsible-body>ul:not(.collapsible)>li.active a,.drawer-nav.drawer-nav-fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    color:#fff
}
.drawer-nav .collapsible-body{
    padding:0
}
.sidenav-overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    opacity:0;
    height:120vh;
    background-color:rgba(0, 0, 0, 0.75);
    z-index:1000;
    display:none
}
@font-face {
    font-family: 'fontello';
    src: url('../fontello/font/fontello.eot');
    src: url('../fontello/font/fontello.eot#iefix') format('embedded-opentype'),
    url('../fontello/font/fontello.woff') format('woff'),
    url('../fontello/font/fontello.ttf') format('truetype'),
    url('../fontello/font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1.5em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    font-size: 1.25em;
}