/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.dashicons-cv-menu {
    background-image: url("../images/cv-menu-16.png");
    background-repeat: no-repeat;
    background-position: center;
}